body {
    background-color: bisque;
}

img {
    padding: 50px;
    width: 50%;
    
}

.container {
    overflow: hidden; 
}

.box {
    float: left; 
    width: 500px; 
    height: 500px;
    background-color: rgb(94, 40, 138);
    text-align: center;
    line-height: 100px; 
    margin: 10px;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
